/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #ec3c07; /* Customize this color to your preference */
}

/* Navigation Links */
.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
    font-size: 1em;
    transition: color 0.3s ease;
}

.header-links a.active {
    color: #ff5722; /* Highlight color for active link */
}

.header-links a:hover {
    color: #ff5722; /* Highlight color on hover */
}

/* Logout Icon */
.logout {
    margin-left: 24px;
}

.logout svg {
    font-size: 2em;
    cursor: pointer; /* Add pointer cursor for better UX */
}
.logout svg:hover{
    color: #ff5722;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .header-links a {
        margin: 10px 0;
    }
}
