/* Login.css */
* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2980b9;
    height: 100vh;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.2em;
}

input {
    width: 100%;
    max-width: 450px;
    padding: 10px 10px 10px 40px; /* Add padding-left to make room for the icon */
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 25px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}